
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <title>Организация обращения с ТКО</title>
</head>

<body class="white" onclick= "getValues()">
    <header class="header">
        <div class="account">
            <img src="./static/img/account.png" alt="Account Icon" onclick="showAccountName()">
            <div class="account-name">
                Азарова В.И. / <a href="/">Выход</a>
            </div>
        </div>
        <div class="header-right">
            <button class="button button--secondary header__edit-button">Редактировать таблицу</button>
            <form  role="form" method="POST" class="search-box">
                <input type="text" id="regionSearchInput" name = "regionSearchInput" placeholder="Введите регион" oninput="showSuggestions()">
                <div id="suggestions" class="suggestions"></div>
            </form>
            
        </div>
        <!-- /.header-right -->
    </header>
    <!-- /.header -->
    <!-- Main Content -->
    <main>
        <div id = "container" class="container">
            <!-- Обернули таблицы в форму action="/submit-url" -->
            <form  method="POST" id = "table-data-info" name = "table-data-info"> <!--напиши нужный URL в action -->
            <table  id = "info-table" class="info-table">
                <thead class="info-table-thead">
                    <tr>
                        <th class="info-table-thead__title"> {{region}} (1/3)</th>
                        <!-- /.info-table-thead__title -->
                        <th class="info-table-thead__title">По состоянию на 10.10.2024</th>
                        <!-- /.info-table-thead__title -->
                    </tr>
                </thead>
                <!-- /.info-table-thead -->
                <tbody class="info-table-tbody">
                    <tr>
                        <td class="info-table-td" colspan="2">
                            <div class="info-table-header">
                                <div class="info-table-header__item">
                                    <p>Региональный штаб</p>
                                </div>
                                <!-- /.info-table-header__item -->
                                <div class="info-table-header__item">
                                    <p>Создан 02.10.2024 <br>Распоряжением Губернатора<br> Забайкальского края № 744-р</p>
                                </div>
                                <!-- /.info-table-header__item -->
                                <div class="info-table-header__item">
                                    <div class="info-table-header-leader">
                                        <span class="info-table-header__leader-title">РУКОВОДИТЕЛЬ</span>
                                        <!-- /.info-table-header__leader-title -->
                                        <span class="info-table-header__leader-name">Калиматов Махмуд-Али Махшарапович</span>
                                        <!-- /.info-table-header__leader-name -->
                                        <span class="info-table-header__leader-name">Губернатор Республики Ингушетия</span>
                                        <!-- /.info-table-header__leader-name -->
                                    </div>
                                </div>
                                <!-- /.info-table-header__item -->
                            </div>
                            <!-- /.info-table-header -->
                        </td>
                        <!-- /.info-table-td -->
                    </tr>
                    <tr>
                        <td class="info-table-td" colspan="2">
                            <table class="spcified-color">
                                <tr>
                                    <th rowspan="2">Корзины</th>
                                    <th colspan="4">Зоны деятельности</th>
                                </tr>
                                <tr>
                                    <th>Всего</th>
                                    <th>Красная</th>
                                    <th>Желтая</th>
                                    <th>Зеленая</th>
                                </tr>
                                <tr>
                                    <td>Деятельность региональных операторов</td>
                                    <td class="count-result">1</td>
                                    <td class="count-red">0</td>
                                    <td class="count-yellow">1</td>
                                    <td class="count-green">0</td>
                                </tr>
                            </table>
                        </td>
                        <!-- /.info-table-td -->
                    </tr>
                    <tr>
                        <td class="info-table-td" colspan="2">
                            <div class="table-wrap">
                                <div class="button-container edit-buttons" style="display: none;">
                                    <!--<button onclick="addColumn()">Добавить столбец</button>
                                    <button onclick="deleteColumn()">Удалить столбец</button> -->
                                    <button class="red-button" onclick="addHeader('red')">Добавить Красные зоны</button>
                                    <button class="yellow-button" onclick="addHeader('yellow')">Добавить Желтые зоны</button>
                                    <button class="green-button" onclick="addHeader('green')">Добавить Зеленые зоны</button>
                                    <button onclick="addRow()">Добавить строку</button>
                                    <button onclick="deleteRow()">Удалить строку</button>
                                </div>
                                <table class="spcified-color">
                                    <tr>
                                        <th>Наименование зоны</th>
                                        <th>Наименование регионального оператора</th>
                                        <th>Причины</th>
                                        <th>Мероприятия из Дорожной карты</th>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <!-- /.info-table-td -->
                    </tr>
                    <tr>
                        <td class="info-table-td editable-table" colspan="2">
                            <table id = "info-table">
                                <thead class="info-table-thead">
                                    <tr>
                                        <th class="info-table-thead__title" id="th_region" name="region">{{region}} (2/3)</th>
                                        <input type="hidden" id = "region" name="region" value = "">
                                        <!-- /.info-table-thead__title -->
                                        <th class="info-table-thead__title" colspan="4">По состоянию на 10.10.2024</th>
                                        <!-- /.info-table-thead__title -->
                                    </tr>
                                </thead>
                                <!-- /.info-table-thead -->
                                <tr>
                                    <th class="cart">Корзины</th>
                                    <th class="plan">План</th>
                                    <th class="fact">Факт</th>
                                    <th class="deivation">Отклонение</th>
                                    <th class="event">Мероприятия из Дорожной карты</th>
                                </tr>
                                <tr>
                                    <td class="text-at-start">
                                        <span class="spcified-color">2. Обеспеченность специальной техникой, шт.</span>
                                        (среднероссийский показатель потребности– {{data['all_RF_info']['tech_lack']}}%) <br>
                                        Выше среднероссийского показателя - желтая зона <br>
                                        В два раза выше среднероссийского показателя  - красная зона
                                        </td>
                                    <td id = "td_tech_plan" name="tech_plan">{{data['tech_info']['plan']}}</td>
                                    <input type="hidden" id = "tech_plan" name="tech_plan" value ="">
                                    <td id = "td_tech_fact" name="tech_fact">{{data['tech_info']['fact']}}</td>
                                    <input type="hidden" id = "tech_fact" name="tech_fact" value = "">
                                    <td id = "td_tech_dev" name="tech_dev" class="highlight-green">{{data['tech_info']['deviation']}} (<span class="percent">{{data['tech_info']['deviation_in_per']}}</span>%)</td>
                                    <input type="hidden" id = "tech_dev" name="tech_dev" value = "">
                                    <td class="spcified-color">Дорожная карта не требуется</td>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-at-start secondary-title">3. Обеспеченность инфраструктурой по накоплению ТКО</th>
                                </tr>
                                <tr>
                                    <td class="text-at-start dis-flex-col">
                                        <span class="spcified-color table-cell-title">3.1 Контейнерные площадки </span>
                                        <span>(среднероссийский показатель потребности – {{data['all_RF_info']['places_lack']}}%)</span>
                                        <span>Выше среднероссийского показателя - желтая зона</span>
                                        <span>В два раза выше среднероссийского показателя либо информация не представлена  - красная зона</span>                                            
                                    </td>
                                    <td id = "td_places_plan" name = 'places_plan'>{{data['container_places_info']['plan']}}</td>
                                    <input type="hidden" id = "places_plan" name="places_plan" value= "">
                                    <td id = "td_places_fact" name = 'places_fact'>{{data['container_places_info']['fact']}}</td>
                                    <input type="hidden" id = "places_fact" name="places_fact" value= "">
                                    <td id = "td_places_dev" name = 'places_dev'>{{data['container_places_info']['deviation']}} (<span class="percent">{{data['container_places_info']['deviation_in_per']}}</span>%)</td>s
                                    <input type="hidden" id = "places_dev" name="places_dev" value= "">
                                    <td class="spcified-color event" rowspan="3">Дорожная карта не утверждена</td>
                                </tr>
                                <tr>
                                    <td class="text-at-start dis-flex-col">
                                        <span class="spcified-color table-cell-title">3.1.1 контейнерные площадки на 1 000 чел.</span>
                                        <span>(среднероссийский показатель – {{data['all_RF_info']['places_per_1k']}} шт)</span>
                                    </td>
                                    <td>0</td>
                                    <td id="td_container_places_per_1k" name="container_places_per_1k">{{'%0.1f'| format(data['container_places_info']['container_places_per_1k']|float)}}</td>
                                    <input type="hidden" id="container_places_per_1k" name="container_places_per_1k" value= "">
                                    <td>
                                        {{'%0.1f'| format((data['all_RF_info']['places_per_1k']-data['container_places_info']['container_places_per_1k'])|float|abs)}} (<span>{{((data['all_RF_info']['places_per_1k']-data['container_places_info']['container_places_per_1k'])/data['all_RF_info']['places_per_1k']*100)|round|int|abs}}</span>%)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-at-start">
                                        <span class="spcified-color table-cell-title">3.1.2 заполнение ФGIS УТКО по местам накопления ТКО, %</span>
                                    </td>
                                    <td>100%</td>
                                    <td id="td_fgis_utko_places" name="fgis_utko_places">{{data['container_places_info']['fgis_utko']}}%</td>
                                    <input type="hidden" id="fgis_utko_places" name="fgis_utko_places" value= "">
                                    <td><span>{{100 - data['container_places_info']['fgis_utko']}}</span>%</td>
                                </tr>
                                <tr>
                                    <td class="text-at-start dis-flex-col">
                                        <span class="spcified-color table-cell-title">3.2 Контейнеры </span>
                                        <span>(среднероссийский показатель потребности – {{data['all_RF_info']['containers_lack']}}%)</span>
                                        <span>Выше среднероссийского показателя - желтая зона</span>
                                        <span>В два раза выше среднероссийского показателя либо информация не представлена  - красная зона</span>
                                    </td>
                                    <td id = "td_containers_plan" name = 'containers_plan'>{{data['containers_info']['plan']}}</td>
                                    <input type="hidden" id = "containers_plan" name="containers_plan" value= "">
                                    <td id = "td_containers_fact"name = 'containers_fact'>{{data['containers_info']['fact']}}</td>
                                    <input type="hidden" id = "containers_fact" name="containers_fact" value= "">
                                    <td id = "td_containers_dev" name = 'containers_dev'>{{data['containers_info']['deviation']}} (<span class="percent">{{data['containers_info']['deviation_in_per']}}</span>%)</td>
                                    <input type="hidden" id = "containers_dev" name="containers_dev" value= "">
                                    <td class="spcified-color event" rowspan="3">Дорожная карта не утверждена</td>
                                </tr>
                                <tr>
                                    <td class="text-at-start">
                                        <span class="spcified-color table-cell-title">3.2.1 контейнеры на 1 000 чел.</span>
                                        <span>(среднероссийский показатель – {{data['all_RF_info']['containers_per_1k']}} шт)</span>
                                    </td>
                                    <td>0</td>
                                    <td id="td_containers_per_1k" name="containers_per_1k">{{'%0.1f'| format(data['containers_info']['containers_per_1k']|float)}}</td>
                                    <input type="hidden" id = "containers_per_1k" name="containers_per_1k" value= "">
                                    <td>
                                        {{'%0.1f'| format((data['all_RF_info']['containers_per_1k']-data['containers_info']['containers_per_1k'])|float|abs)}} (<span>{{((data['all_RF_info']['containers_per_1k']-data['containers_info']['containers_per_1k'])/data['all_RF_info']['containers_per_1k']*100)|round|int|abs}}</span>%)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-at-start">
                                        <span class="spcified-color table-cell-title table-cell-title">3.2.2 заполнение ФGIS УТКО на контейнеры ТКО, %</span>
                                    </td>
                                    <td>100%</td>
                                    <td id="td_fgis_utko_containers" name="fgis_utko_containers">{{data['containers_info']['fgis_utko']}}%</td>
                                    <input type="hidden" id = "fgis_utko_containers" name="fgis_utko_containers" value= "">
                                    <td><span>{{100 - data['containers_info']['fgis_utko']}}</span>%</td>
                                </tr>
                            </table>
                            <table>
                                <thead class="info-table-thead">
                                    <tr>
                                        <th class="info-table-thead__title"> {{region}} (3/3)</th>
                                        <!-- /.info-table-thead__title -->
                                        <th class="info-table-thead__title" colspan="4">По состоянию на 10.10.2024</th>
                                        <!-- /.info-table-thead__title -->
                                    </tr>
                                </thead>
                                <!-- /.info-table-thead -->
                                <tbody>
                                    <tr>
                                        <th colspan="5" class="text-at-start secondary-title">4. Обеспеченность инфраструктурой по обращению с ТКО</th>
                                    </tr>
                                    <tr>
                                        <th class="cart">Корзины</th>
                                        <th class="plan">План</th>
                                        <th class="fact">Факт</th>
                                        <th class="deivation">Отклонение</th>
                                        <th class="event">Мероприятия из Дорожной карты</th>
                                    </tr>
                                    <tr class="font-weight-normal">
                                        <td class="text-at-start font-weight-normal">4.1 Дорожная карта по строительству инфраструктуры</td>
                                        <td>15.10.2024</td>
                                        <td>-</td>
                                        <td class="deviation"><span>-</span></td>
                                        <td class="spcified-color font-weight-bold event" rowspan="6">Дорожная карта не утверждена</td>
                                    </tr>
                                    <tr class="font-weight-normal">
                                        <td class="text-at-start font-weight-normal">4.2 доля обработки (факт 2024 к факту среднероссийскому), %</td>
                                        <td><span>54.2%</span> <br>
                                            (среднероссийский)
                                        </td>
                                        <td>4%</td>
                                        <td class="deviation">-50.2%</td>
                                    </tr>
                                    <tr class="font-weight-normal">
                                        <td class="text-at-start font-weight-normal">4.3 доля обработки (план 2028 к плану среднероссийскому), %</td>
                                        <td>
                                            <span>81%</span> <br>
                                            (среднероссийский)
                                            
                                        </td>
                                        <td>59%</td>
                                        <td class="deviation">-22%</td>
                                    </tr>
                                    <tr class="font-weight-normal">
                                        <td class="text-at-start font-weight-normal">4.4 доля утилизации, обезвреживания (создание захоронения ТКО) (факт 2024 к факту среднероссийскому), %</td>
                                        <td>
                                            <span>14%</span> <br>
                                            (среднероссийский)
                                            
                                        </td>
                                        <td>0%</td>
                                        <td class="deviation">-14%</td>
                                    </tr>
                                    <tr class="font-weight-normal">
                                        <td class="text-at-start font-weight-normal">4.5 доля утилизации, обезвреживания (создание захоронения ТКО) (план 2028 к плану среднероссийскому), %</td>
                                        <td>
                                            <span>29%</span> <br>
                                            (среднероссийский)
                                        </td>
                                        <td>15%</td>
                                        <td class="deviation">-14%</td>
                                    </tr>
                                    <tr>
                                        <td class="text-at-start font-weight-normal" colspan="4">
                                            <span class="font-weight-bold">4.6. Риски нарушений захоронения ТКО:</span>
                                            <span class="font-weight-bold">4.6.1 Дефицит мощностей по захоронению ТКО.</span>
                                            <p>В регионе имеется только один легальный полигон г. Краснокаменск, позволяющий принимать 5% ТКО от общей массы образования региона.</p>
                                            <p>В схему потоков ТКО включены несанкционированные объекты размещения отходов (свалки 26 штук).</p> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- /.info-table-td -->
                    </tr>
                </tbody>
                <!-- /.info-table-tbody -->
            </table>
            <!-- /.info-table -->

                        <!-- Кнопки для отправки формы и генерации ответа formaction="/save-data-url"-->
            <div id="editor" class="button-container">
                <!-- Кнопка для сохранения данных -->
                <button name = "submit" type="submit"  class="button button--primary">Сохранить данные</button> 
                <!-- Кнопка для генерации ответа -->
                <button id="exportButton" class="button button--secondary">Сгенерировать слайды</button> 
                    </div>
                    </form> 
        </div>
        <!-- /.container -->
    </main>
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/apiSubscription.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/generateResponse.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/tableChangesToApi.js') }}"></script>
    <script src="./static/js/showAccountInfo.js"></script>
    <script src="./static/js/showSuggestions.js"></script>
    <script src="./static/js/tableEditFunction.js"></script>
    <script src="./static/js/coloredCellFunc.js"></script>
    <script src="./static/js/colorsCellsCalc.js"></script>
    <script src="./static/js/deviations.js"></script>
    <script>
        function exportHTMLtoPDF() {
           let htmlElement = document.getElementById('container');
           var opt = {
                        margin:       [0,0,0,0],
                        image:        { type: 'jpeg', quality: 1 },
                        html2canvas:  { scrollY: htmlElement.scrollY, scale: 1},
                        jsPDF:        { unit: 'pt', format: 'a4', orientation: 'landscape', marginLeft: 20, marginRight: 20,},
                        pagebreak: {mode: 'avoid-all'}
                        };
  
           html2pdf().set(opt).from(htmlElement).save('exported_file.pdf');
        }
  
        document.getElementById('exportButton').addEventListener('click', exportHTMLtoPDF);
     </script>
</body>
</html>